---
import Layout from '../layouts/Layout.astro';
import Lorem from '../components/Lorem.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'About Us';

const happy = true;
const finished = true;
const goal = 3;

const pink = '#ff927a'
---

<Layout title={pageTitle}>
	<body>
        <Nav />
        <h2>This is a site made with astro</h2>
        <p><Lorem/></p>
        <p><Lorem/></p>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
        <Footer />
	</body>
</Layout>

<style define:vars={{pink}}>
    body {
        padding: 1rem;
    }

    h1 {
      font-size: 5rem;
    }

    p {
        color: var(--pink);
        margin-bottom: 1rem;
    }
  </style>