---
import Social from './Social.astro';
---

<footer>
    <p>Repo: <a href='https://github.com/KKeyfun/astro-practice'>Github</a></p>
    <Social platform='github' username='kkeyfun' />
    <slot />
</footer>
<style>
    footer {
        text-align:center;

        margin-top:auto;
        width:100%;
    }
</style>