<nav class="Nav">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/blog">Blog</a>
    <!-- <a href="/">Home</a> -->
    <!-- <a href="/">Home</a> -->
</nav>
<style>
    .Nav {
        background-color: #e09eff;
        padding: 1rem;
        width:100%


    }

    a {
        color:white;
        font-size: 1.25rem;
        margin-left: 1rem;
    }
</style>