---
import Lorem from './Lorem.astro';
export interface Props {
    title?: string,
    body?: string,
}

const { title,body } = Astro.props;
---

<div class="Blog__Post">
    <h3 class="Post__Title">{title || 'Post'}</h3>
    <p>{body || <Lorem/>}</p>
</div>

<style>
    .Blog__Post {
        border: 1px solid black;
        margin-bottom: 1rem;
    }
</style>