---
import Lorem from './Lorem.astro';
export interface Props {
    title: string,
    url: string,
}

const { title,url } = Astro.props;
---

<li class="Blog__Post">
    <a href={url}>{title}</a>
</li>



<style>
    .Blog__Post {
        border: 1px solid black;
        margin-bottom: 1rem;
        list-style: none;
    }
</style>